<footer class="footer">
  <div class="contactdiv pt-4" >
    <a class="nav-link mx-auto" id="contact" href="maito:1234567@163.com">Contact Us</a>
    <div class="socialmedia mx-auto">
        <a class="fa fa-facebook" href="http://www.facebook.com" aria-hidden="true"></a>    
        <a class="fa fa-twitter" href="http://twitter.com" aria-hidden="true"></a>      
        <a class="fa fa-youtube" href="http://youtube.com" aria-hidden="true"></a> 
        <a class="fa fa-qq" href="http://qq.com" aria-hidden="true"></a>
        <a class="fa fa-wechat" href="http://wechat.com" aria-hidden="true"></a>
    </div>
  </div>
  <p id="copyright">All Rights Reserved 2017 Simple Movie - Terms & Conditions</p>
   
</footer>