/*footer start*/

.footer {
    background-color: #717071;
    height: 150px;
}

.contactdiv {
    margin-left: 45%;
}

#contact {
    color: #c8c9ca;
    font: 1.5rem bold;
    font-family: 'Pacifico', cursive;
}

.fa {
    color: #c8c9ca;
    font-size: 1.5rem;
}

#copyright {
    color: #c8c9ca;
    font-size: 1rem;
    padding-top: 1%;
    // margin-left:-20%;
    text-align: center;
    /*text align center*/
}


/*footer end*/