/*product display start*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 500px;
    transition: 0.3s;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.price {
    color: rgb(139, 133, 133);
}

.productname {
    color: rgb(105, 107, 226);
}


/*product display end*/